body{
	margin: 0px;
	font-family: 'Libre Baskerville', serif;
}
/*START HEADER*/
.logo{
	margin-top: 1%;
	margin-left: 2%;
	position: absolute;
	width: 15%; 
}
.img-fluid{
	width: 100%;
}



/*START NAVIGATION*/
.logo-text{
    margin-left: 2%;
    font-family: 'Cinzel Decorative';
    font-weight: 900;
    font-size: 2rem;
}
.navbar-collapse{
  padding-right: 2%;
  padding-left: 2%;
}

.navbar-toggler{
  margin-right: 2%;
}
.nav-link{
	color: #ced4da !important;
}
a.active:visited{
	color: #fff !important;
}
a.nav-link:hover{
	color: #6c757d !important;
}

.bg-dark{
  background-color: black !important;
}
/*END NAVIGATION*/


/*START WHITE AND GREY SECTIONS*/

sec-link{
	color: #fff;
	background-color: #fff;
}
h1{
  font-weight: bold;
}
/*END WHITE AND GREY SECTIONS*/


/*START WHITE SECTION*/
.w-sec-row{
	width: 70%;
	margin: auto;
	height: 50vh;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #fefae0;
	position: relative;
}
	.w-content{
	float: right;
	margin: auto;
	position: absolute;
	right: 2%;
}
.w-button{
	position: absolute;
	right: 15%;
	bottom: 40%;
}
.w-section{
	background-color: #fefae0;
	color: #121212;
}
.w-pic{
	width: 30%;
	height: 40vh;
	padding: 0px;
	position: absolute;
	bottom: 10%;
	border: 20px solid #121212;
}
/*END WHITE SECTION*/



/*START GREY SECTION*/

.g-sec-row{
	width: 70%;
	height: 50vh;
	margin: auto;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #121212;
	position: relative;
}

.g-content{
	float: left;
	margin: auto;
	position: absolute;
	left: 2%;
}

.g-button{
	position: absolute;
	left: 20%;
	bottom: 40%;
}

.g-pic{
	width: 30%;
	height: 40vh;
	position: absolute;
	padding: 0px;
	right: 2%;
	bottom: 10%;
	border: 20px solid #fefae0;
}

.g-section{
	background-color: #121212;
	color: #fefae0;
}

/*END GREY SECTION*/


/*START FOOTER*/

.f-section{
	text-align: center;
	background-color: #111;
}
.f-row p{
	color: #fff;
	margin-bottom: 0;
}

/*END FOOTER*/


